.login-container{
    border-radius: 15px;
    border-width: 2px;
    width: 25vw;
    padding: 5%;
    margin-top: 10px;
    background-color: rgb(226, 226, 226);
}


.login-input input{
    width: 95%;
    border-radius: 5px;
    border-width: 1px;
    height: 20px;
    
}

.login-button button{
    width: 12vw ;
    cursor: pointer;
    margin-top: 10px;
    background-color: rgb(116, 201, 250);
    border-radius: 10px;
    border-style: none;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    margin-left: 20%;
    font-size: large;
}