.profile-container{
    position: relative;
    left: 10%;
    display: flex;
}

.sideBar-container{
    position: relative;
    left: 40%;
    width: 12.5vw;
    padding-left: 2.5vw;
    background-color: lightgray;
    height: 100vh;
}

.accounts-container{
    background-color: rgb(226, 226, 226);
    padding-left: 5%;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 30px;
    width: 35vw;
}

.profile-name{
    position: relative;
    left: 35%;
}
.transferingFunds-container{
    display: flex;
    position: relative;
    background-color: rgb(226, 226, 226);
    padding-right: 15%;
}

.transfering-funds-form{
    margin-left: 10%;
}