.profile-container{
    position: absolute;
    left: 15%;
}

.page-container{
    display: flex;
}

.sideBar-container{
    position: fixed;
    right: 0%;
    width: 12.5vw;
    padding-left: 2.5vw;
    background-color: lightgray;
    height: 100vh;
}

.accounts-container{
    background-color: rgb(226, 226, 226);
    position: relative;
    left: 10%;
    padding-left: 10%;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 30px;
    width: 45vw;
}

.loans-container{
    background-color: rgb(226, 226, 226);
    position: relative;
    left: 10%;
    padding-left: 10%;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 30px;
    width: 45vw;
}
.accounts-container-active{
    background-color: rgb(226, 226, 226);
    padding-left: 5%;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 30px;
    width: 50vw;
    left: 20%;
}

.profile-name{
    position: relative;
    left: 40%;
    text-align: center;
}
.transferingFunds-container{
    display: flex;
    background-color: rgb(226, 226, 226);
    padding-right: 15%;
}

.transfering-funds-form{
    margin-left: 10%;
}

.invalid-login{
    text-align: center;
    margin-top: 20vh;
    position: relative;
    left: 27.5%;
    background-color: rgb(226, 226, 226);
    border-color: blue;
    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
    width: 35vw;
    padding-bottom: 35px;
}

.message-container{
    position: relative;
    left: 27.5%;
}

