.unapproved-accounts-container{
    margin-top: 20px;
    background-color: whitesmoke;
    width: 70%;
    margin-left: 15%;
    padding-bottom: 15px;
    padding-top: 10px;
    border-radius: 10px;
}

