.adminPage-container{
    display: flex;
    margin-left: 5%;
}

.sidebar-container{
    position: absolute;
    right: 0%;   
    width: 12.5vw;
    padding-left: 2.5vw;
    background-color: lightgray;
    height: 100vh;
}

.approval-container{
    display: flex;
    margin-top: 10vh;
}

.approve-container{
    text-align: center;

}
.approve-component{
    background-color: rgb(226, 226, 226);
    margin-left: 35px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    width: 30vw;
    text-align: center;
    border-radius: 15px;
}