.buttons-container{
    margin-top: 10vh;
}

.buttons-container button{
    width: 10vw;
    margin-top: 40px;
    padding: 5px;
    font-size: medium;
    border-radius: 5px;
    border-width: 1px;
    cursor: pointer;
}

