.create-account-container{
    position: relative;
    background-color: rgb(226, 226, 226);
    width: 40vw;
    padding-left: 5%;
    padding-top: 30px;
    padding-bottom: 30px;
    border-color: blue;
    border-style: solid;
    border-width: 2.5px;
    font-size: large
}

.form-input button{
    width: 12vw ;
    cursor: pointer;
    margin-top: 25px;
    background-color: whitesmoke;
    border-radius: 10px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    margin-left: 20%;
    font-size: large;
    border-width: 1px;
    border-color: black;
}